.constructor {
    display: flex;
	justify-content: center;
	align-items: center;

    padding: 40px 0;

    color: var(--black);
}

.constructor_wrapper {
    padding: 15px;
	max-width: 660px;
    width: 100%;
    margin-bottom: 15px;
    background-color: var(--blue-background);
    border-radius: 10px;
}
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .field, .question-block {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .question-block {
    padding: 15px;
    margin-bottom: 15px;
    background-color: var(--blue-background);
    border-radius: 10px;
  }
  
  .answer-block {
    margin-top: 10px;
    position: relative;
  }
  
  .add-answer-btn, .add-question-btn, .save-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .add-answer-btn {
    background-color: #2196F3;
  }
  
  .add-answer-btn:hover, .add-question-btn:hover, .save-btn:hover {
    background-color: #45a049;
  }
  
  .add-question-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
  }

  .answer-input {
    width: calc(100% - 30px); /* Учитываем ширину кнопки */
    padding-right: 35px; /* Отступ справа для кнопки */
    box-sizing: border-box; /* Учитывает отступы в ширине */
  }
  
  .save-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: #FF5722;
  }
  
  button:focus {
    outline: none;
  }

  .btn_answer {
    position: absolute;
    right: 10px; 
    top: 60%; 
    transform: translateY(-50%);
  }
  
  .delete-button {
    background: transparent; /* Прозрачный фон */
    border: none; /* Убираем границы */
    cursor: pointer; /* Курсор при наведении */
    color: var(--grey); /* Цвет крестика */
    font-size: 16px; /* Размер шрифта */
    transition: color 0.3s; /* Плавный переход цвета */
  }

  .delete-button:hover {
    color: var(--black); /* Цвет при наведении */
  }

  .test_question {
    position: relative;
  }
  
  .btn_question {
    position: absolute;
    top: 0;
    right: 0;
    
    padding: 5px 10px; /* Отступы внутри кнопки */

  }
  
 
.btn_custom {
  background-color: var(--accent);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 16px;
	font-weight: 500;
  display: inline-block;
  letter-spacing: 0.15px;
  transition: opacity 0.2s ease-in;
}


.btn_custom:hover {
  opacity: 0.8;
}

.btn_state {
  background-color: var(--black);
}

/* Оригинальный input остается скрытым */
.image-upload-btn {
  display: none;
}

.btns_ender {
  display: flex;
  justify-content: space-between;
}